<div>
    <p class="text-muted-color" *ngIf="category.lists.length === 0">Inga listor i denna kategori</p>
    <div *ngFor="let list of category.lists" class="pt-7">
        <div>
            <a [routerLink]="['/list/', list.uuid, category.uuid]" class="">
                <h5>
                    <i class="pi pi-bolt text-yellow-500" [ngStyle]="{'color': category.color }"></i>
                    {{ list.title }}
                </h5>
                <p>{{ list.description }}<p>
                    <p-chip class="!py-0 !pl-0 !pr-4">
                        <span
                        class="text-primary-contrast rounded-full w-8 h-8 flex items-center justify-center" [ngStyle]="{'background-color': category.color }">
                        {{ list.todos.length }}
                    </span>
                    <span class="ml-2 font-medium">Uppgifter </span>
                </p-chip>
            </a>
        </div>
        <div class="mt-6 font-small text-muted-color">Använd senast: {{ list.lastTouched | date:"HH:mm d
            MMM,
            yyyy " }} </div>
            <p-divider class="mt-4" *ngIf="category.lists.length > 0"></p-divider>
            </div>
</div>