/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.p-ripple p-accordionheader,
.p-accordioncontent-content,
.p-accordion-header,
.p-accordionheader {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.layout-wrapper.layout-static .layout-main-container {
    margin-left: 0 !important;
}
.p-iconwrapper {
    padding-right: 25px;
}
