<div class="grid mb-8">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="">
                <div>
                    <a [routerLink]="['/pages/category/', categoryId]">
                        <i class="pi icon-flipped pi-reply" style="font-size: 1.5rem"></i>
                    </a>
                    <h4>
                        <i class="pi pi-bolt text-yellow-500" [ngStyle]="{'color': list.color }"></i> {{ list.title }}
                    </h4>
                    <p>{{ list.description }}</p>
                    <p-divider *ngIf="list.todos.length " />
                    <p class="text-muted-color" *ngIf="list.todos">Inga todos i denna lista, lägg till nedan</p>
                    <div class="checkbox-list-container" *ngFor="let todo of list.todos">
                        <div>
                            <label>
                                <input type="checkbox" (change)="toggleDone()" [ngModel]="todo.completed"
                                    (ngModelChange)="todo.completed = $event" />
                            </label>
                        </div>
                        <div><span class="checkbox__inner"></span>
                            <span class="checkbox-text">{{ todo.title }}</span>
                        </div>
                        <div>
                            <p-button variant="text" icon="pi pi-pencil" (click)="showEditTodoDialog(todo)" aria-label="Save" />
                        </div>
                    </div>

                    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="list-add-container mt-4">
                        <div class="input-container">
                            <input type="text" placeholder="Skriv text..." formControlName="title" pInputText />
                        </div>
                        <div class="button-container">
                            <p-button icon="pi pi-plus" label="Spara" (click)="addTodo()" />
                        </div>
                    </form>
                    <p-divider />

                    <p-accordion value="0" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                        <p-accordion-panel value="0">
                            <p-accordion-header>Hantera listan</p-accordion-header>
                            <p-accordion-content style="padding-left: 0;">
                                <div style="display: flex; justify-content: space-between; align-content: flex-start;">
                                    <div>
                                        <p-button variant="text" [disabled]="shouldBeDisabled()" icon="pi pi-check" severity="success"
                                            label="Rensa" (click)="clear()" />
                                    </div>
                                    <div>
                                        <p-button variant="text" icon="pi pi-pencil" severity="warn" label="Redigera"
                                            (click)="showEditListDialog()" />
                                    </div>
                                    <div>
                                            <app-confirm-dialog 
                                            [message]="'Är du säker på att du vill ta bort listan?'" 
                                            [header]="'Ta bort lista?'"
                                            [label]="'Radera'"
                                            [icon]="'pi pi-trash'"
                                            (dialogAcceptFunc)="deleteList()"></app-confirm-dialog>
                                    </div>
                                </div>
                            </p-accordion-content>
                        </p-accordion-panel>
                    </p-accordion>
                </div>
                <div class="mt-6 font-small">Listan uppdaterades
                    senast: <span class="text-muted-color"> {{ list.lastTouched | date:"HH:mm - d MMM,
                        yyyy " }} </span></div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Uppdatera todo" [modal]="true" [(visible)]="editTodoDialogvisible" [style]="{ width: '25rem' }">

    <div class="flex items-center gap-4 mb-4">
        <label for="title" class="font-semibold w-24">Titel</label>
        <input pInputText id="title" [(ngModel)]="todo.title" class="flex-auto" autocomplete="off" />
    </div>

    <div class="">
        <div class="flex justify-end">
            <p-button label="Radera" class="pr-20" severity="danger" (click)="deleteTodo(todo)" />
            <p-button label="Ångra" class="pr-2 pl-16" severity="secondary" (click)="discardTodoEdit()" />
            <p-button label="Spara" (click)="updateTodo(todo)" />
        </div>
    </div>
</p-dialog>





<p-dialog header="Uppdatera lista" [modal]="true" [(visible)]="listEditDialogvisible" [style]="{ width: '25rem' }">

    <div class="flex items-center gap-4 mb-4">
        <label for="title" class="font-semibold w-24">Titel</label>
        <input pInputText id="title" [(ngModel)]="list.title" class="flex-auto" autocomplete="off" />
    </div>
    <div class="text-area-container">
        <p-floatlabel variant="in">
            <textarea pTextarea id="over_label" [(ngModel)]="list.description" rows="5" cols="30" style="resize: none"
                class="h-full"></textarea>
            <label for="over_label">Beskrivning</label>
        </p-floatlabel>
    </div>

    <div class="">
        <div class="flex justify-end">
            <p-button label="Radera" class="pr-20" severity="danger" (click)="deleteList()" />
            <p-button label="Ångra" class="pr-2 pl-16" severity="secondary" (click)="discardListEdit()" />
            <p-button label="Spara" (click)="updateList()" />
        </div>
    </div>
</p-dialog>
