<div class="grid mb-8">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="">
                <div>
                    <a [routerLink]="['/pages/category/', categoryId]">
                        <i class="pi icon-flipped pi-reply" style="font-size: 1.5rem"></i>
                    </a>
                    <h4>{{ list.title }}</h4>
                    <p-divider />
                    <div class="checkbox-list-container" *ngFor="let todo of list.todos">
                        <div>
                            <label>
                                <input type="checkbox" (change)="toggleDone()" [ngModel]="todo.completed"
                                    (ngModelChange)="todo.completed = $event" />
                            </label>
                        </div>
                        <div><span class="checkbox__inner"></span>
                            <span class="checkbox-text">{{ todo.title }}</span>
                        </div>
                        <div>
                            <p-button icon="pi pi-pencil" (click)="showDialog(todo)" aria-label="Save" />

                        </div>
                    </div>

                    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="list-add-container mt-4">
                        <div class="input-container">
                            <input type="text" placeholder="Skriv text..." formControlName="title" pInputText />
                        </div>
                        <div class="button-container">
                            <p-button icon="pi pi-plus" label="Spara" (click)="addTodo()" />
                        </div>
                    </form>
                    <p-divider />
                    <p-button icon="pi pi-clear" label="Rensa" placeholder="asdasd" (click)="clear()" />


                    <div class="mt-6 font-small">Uppdaterad
                        senast: <span class="text-muted-color"> {{ list.lastTouched | date:"HH:mm - d MMM,
                        yyyy " }} </span></div>
                </div>
            </div>
            <p-divider class="mt-4 mb-4" />
            <p>
                <a href="#" class="text-primary font-medium hover:underline">Lägg till i lista</a>
            </p>
        </div>
    </div>
</div>


<p-dialog header="Uppdatera info" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

    <div class="flex items-center gap-4 mb-4">
        <label for="title" class="font-semibold w-24">Titel</label>
        <input pInputText id="title" [(ngModel)]="todo.title" class="flex-auto" autocomplete="off" />
    </div>

    <div class="">
            <div class="flex justify-end">
            <p-button label="Radera" class="pr-20" severity="danger" (click)="deleteTodo(todo)" />
            <p-button label="Ångra" class="pr-2 pl-16" severity="secondary" (click)="discard()" />
            <p-button label="Spara" (click)="updateTodo(todo)" />
        </div>
    </div>
</p-dialog>


