<div class="grid mb-8" *ngFor="let category of data.categories; let i = index">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class=" mt-2">
                <div class="">
                    <div class="category-top">
                        <div class="category.title">
                            <h4><a [routerLink]="['/lisa/category/', category.uuid]">{{ category.title }}</a></h4>
                        </div>
                        <div class="category-order">
                            <i class="pi pi-chevron-up" *ngIf="category.order > 0"
                                (click)="setCategoryOrder(category.uuid, 'up')"></i>
                            &nbsp; 
                            <i class="pi pi-chevron-down pl-4" *ngIf="category.order < (data.categories.length - 1)"
                                (click)="setCategoryOrder(category.uuid, 'down')"></i>
                        </div>
                    </div>
                    <app-list-lists [category]="category"></app-list-lists>
                </div>
            </div>
            <p>
                <p-button icon="pi pi-plus" label="Lägg till lista" (click)="showAddListDialog(category.uuid)"
                    aria-label="Save" />
            </p>
        </div>
    </div>
</div>

<div class="grid mb-16">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <p class="mb-4">
            <p-button variant="text" [raised]="true" severity="success" icon="pi pi-plus" label="Lägg till kategori"
                (click)="showAddCatDialog()" aria-label="Save" />
        </p>
    </div>
</div>

<app-add-list-dialog [categoryUuid]="categoryUuid" [visible]="addListDialogVisible"
    (newItemEvent)="hideAddListDialog()"></app-add-list-dialog>



<p-dialog header="Lägg till kateogri" [modal]="true" [(visible)]="addCategoryDialogVisible"
    [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="list-add-container mt-4">
            <div class="input-container">
                <input type="text" minlength="3" maxlength="25" placeholder="Namn på kategori" formControlName="title"
                    class="w-full" pInputText />
            </div>
            <div class="color-container mb-4 mt-4">
                <p-floatlabel>
                    <p>Välj en färg <p-button variant="text" severity="primary" label="Generera nya färger"
                            (click)="generateColors()" aria-label="Generera nya färger" class="pl-16" /></p>
                    <span class="pick-color" (click)="setColor(c)" *ngFor="let c of colorsToPickfrom"
                        [style.background]="c"></span>
                </p-floatlabel>
                <p-float-label class="mt-4">
                    <p class="">Vald färg</p>
                    <span class="pick-color" [style.background]="chosenColor"></span>
                </p-float-label>
            </div>
            <div class="button-container">
                <p-button icon="pi pi-plus" label="Spara" [disabled]="!categoryForm.valid" (click)="addCategory()" />
            </div>
        </form>
    </div>

    <div class="">
        <div class="flex justify-end">
        </div>
    </div>
</p-dialog>