<div class="grid mb-8" *ngFor="let category of data.categories; let i = index">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mt-2">
                <div>
                    <h4><a [routerLink]="['/category/', category.uuid]">{{ category.title }}</a></h4>
                    <p-divider *ngIf="category.lists.length > 0" />
                    <app-list-lists [category]="category"></app-list-lists>
                </div>
            </div>
            <p-divider class="mt-4" />
            <p>
                <p-button icon="pi pi-plus" label="Lägg till lista" (click)="showAddListDialog(category.uuid)"
                    aria-label="Save" />
            </p>
        </div>
    </div>
</div>

<p>
    <p-button icon="pi pi-plus" label="Lägg till kategori" (click)="showAddCatDialog()" aria-label="Save" />
</p>

<p-dialog header="Lägg till Lista" [modal]="true" [(visible)]="addListDialogVisible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <form [formGroup]="listForm" (ngSubmit)="addList()" class="list-add-container mt-4">
            <div class="input-container">
                <input type="text" placeholder="Namn på listan" formControlName="title" pInputText />
            </div>
            <div class="text-area-container">
                <p-floatlabel variant="in">
                    <textarea pTextarea id="over_label" formControlName="description" rows="5" cols="30"
                        style="resize: none" class="h-full"></textarea>
                    <label for="over_label">Beskrivning</label>
                </p-floatlabel>
            </div>
            <div class="color-container">
                <p-floatlabel>
                    <p-colorpicker id="color" formControlName="color" inputId="cp-hex" />
                </p-floatlabel>
            </div>
            <div class="button-container">
                <p-button icon="pi pi-plus" [disabled]="!listForm.valid" label="Spara" (click)="addList()" />
            </div>
        </form>

        <!--input pInputText id="title" [(ngModel)]="todo.title" class="flex-auto" autocomplete="off" /-->
    </div>

    <div class="">
        <div class="flex justify-end">
            <!--p-button label="Radera" class="pr-20" severity="danger" (click)="deleteTodo(todo)" />
            <p-button label="Ångra" class="pr-2 pl-16" severity="secondary" (click)="discard()" />
            <p-button label="Spara" (click)="updateTodo(todo)" /-->
        </div>
    </div>
</p-dialog>



<p-dialog header="Lägg till kateori" [modal]="true" [(visible)]="addCategoryDialogVisible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="list-add-container mt-4">
            <div class="input-container">
                <input type="text" placeholder="Namn på kategori" formControlName="title" pInputText />
            </div>
            <div class="button-container">
                <p-button icon="pi pi-plus" label="Spara" (click)="addCategory()" />
            </div>
        </form>

        <!--input pInputText id="title" [(ngModel)]="todo.title" class="flex-auto" autocomplete="off" /-->
    </div>

    <div class="">
        <div class="flex justify-end">
            <!--p-button label="Radera" class="pr-20" severity="danger" (click)="deleteTodo(todo)" />
            <p-button label="Ångra" class="pr-2 pl-16" severity="secondary" (click)="discard()" />
            <p-button label="Spara" (click)="updateTodo(todo)" /-->
        </div>
    </div>
</p-dialog>